---
import bgImg from "../assets/img/banner.jpg";
import Container from "./Layout/Container.astro";
---

<section style=`background-image: url(${bgImg.src});`>
    <Container>
    <div class="banner-container">
        <h2 class="text-xl">Expert Car Care You Can Trust</h2>
        <p class="text">
            Get Back on the Road Quickly with Ddsgnr, Expert Car Care You Can
            Trust,Expert Car Care You Can TrustExpert Car Care You Can
            TrustExpert Car Care You Can TrustExpert Car Care You Can Trust
        </p>
        <a href="/contact" class="a-btn">Book Your Appointment Now</a>
    </div>
    </Container>
</section>

<style>
    *:not(.a-btn, section) {
        margin: 0;
        padding: 0;
    }
    section {
        display: flex;
        align-items: center;
        height: 900px;
        max-height: 900px;
        background-size: cover;
        color: #ffffff;
        position: relative;
        overflow: hidden;
        padding-inline: 1rem;
    }
    section::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(
            0,
            0,
            0,
            0.5
        ); 
        z-index: 10; 
        pointer-events: none; 
    }
    .banner-container {
        text-wrap: balance;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: relative;
        z-index: 11;
        & a {
            max-width: fit-content;
            background-color: #ffffff;
        }
    }
    @media only screen and (max-width: 768px) {
        section {
            height: 575px;
            max-height: 575px;
        }
        .banner-container {
            width: 100%;
        }
    }
</style>
