---

---

<section>
    <div class="faqs-container">
        <h2>FAQs</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique.
        </p>
        <div class="faqs">
            <details>
                <summary>Question text goes here</summary>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo laboriosam eos incidunt quas id autem excepturi rerum aut, tenetur, labore fugit maiores nisi dolore nostrum perferendis temporibus nulla saepe ab corporis modi nemo. Maxime labore consectetur ex esse dicta. Officiis dolorum laborum beatae quas alias assumenda dolore aliquid, explicabo odio.
            </details>
            <details>
                <summary>Question text goes here</summary>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo laboriosam eos incidunt quas id autem excepturi rerum aut, tenetur, labore fugit maiores nisi dolore nostrum perferendis temporibus nulla saepe ab corporis modi nemo. Maxime labore consectetur ex esse dicta. Officiis dolorum laborum beatae quas alias assumenda dolore aliquid, explicabo odio.
            </details>
            <details>
                <summary>Question text goes here</summary>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo laboriosam eos incidunt quas id autem excepturi rerum aut, tenetur, labore fugit maiores nisi dolore nostrum perferendis temporibus nulla saepe ab corporis modi nemo. Maxime labore consectetur ex esse dicta. Officiis dolorum laborum beatae quas alias assumenda dolore aliquid, explicabo odio.
            </details>
            <details>
                <summary>Question text goes here</summary>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo laboriosam eos incidunt quas id autem excepturi rerum aut, tenetur, labore fugit maiores nisi dolore nostrum perferendis temporibus nulla saepe ab corporis modi nemo. Maxime labore consectetur ex esse dicta. Officiis dolorum laborum beatae quas alias assumenda dolore aliquid, explicabo odio.
            </details>
            <details>
                <summary>Question text goes here</summary>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo laboriosam eos incidunt quas id autem excepturi rerum aut, tenetur, labore fugit maiores nisi dolore nostrum perferendis temporibus nulla saepe ab corporis modi nemo. Maxime labore consectetur ex esse dicta. Officiis dolorum laborum beatae quas alias assumenda dolore aliquid, explicabo odio.
            </details>
            <details>
                <summary>Question text goes here</summary>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo laboriosam eos incidunt quas id autem excepturi rerum aut, tenetur, labore fugit maiores nisi dolore nostrum perferendis temporibus nulla saepe ab corporis modi nemo. Maxime labore consectetur ex esse dicta. Officiis dolorum laborum beatae quas alias assumenda dolore aliquid, explicabo odio.
            </details>
        </div>
    </div>
</section>

<style>
    * {
        margin: 0;
        padding: 0;
    }
    section {
        display: flex;
        justify-content: center;
        padding: 80px 64px;
    }
    .faqs-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        width: 768px;
        & p {
            text-align: center;
        }
    }
    .faqs {
        width: 100%;
        align-self: start;
        display: flex;
        flex-direction: column;
        gap: 16px;
        & details {
            border: 1px solid black;
            padding: 20px 24px;
            & summary {
                font-weight: 700;
                font-size: 18px;
                line-height: 27px;
            }
        }
    }
</style>
