<header>
  <div class="header-info">
    <div class="header-info-place">
      <div class="header-info-place-emergency">For emergency cases: <u>800 123 45 67</u></div>
      <div class="header-info-place-location">Location: 121 Wallstreet Street, NY , USA</div>
      <div class="header-info-place-hours">Open hours: 9.00-24.00 Mon-Sat</div>
      <div class="header-info-place-mail">Email: info@Ddsgnr.com</div>
    </div>
    <div class="header-info-socials">
        hello
    </div>
  </div>
  <div class="header-menu">
    <div class="header-menu-logo">
        cool logo
    </div>
    <div class="header-menu-nav">
        <div class="header-menu-nav-links">
            <a href="#">Home</a>
            <a href="#">Services</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
        <button>Book Your Appointment Now</button>
    </div>
  </div>
</header>

<style>
    header {
        background-color: #FFFFFF;
        color: #000000;
        padding: 0 4rem;
    }
    .header-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .75rem 0;
        border-bottom: solid 1px black;
    }

    .header-info-place {
        display: flex;
        text-align: center;
        font-size: 12px;
    }
    .header-info-place-emergency {
        font-weight: bold;
    }

    .header-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .75rem 0;
    }

    .header-menu-nav {
        display: flex;
        gap: 2rem;
    }

    .header-menu-nav-links {
        display: flex;
        gap: 2rem;
    }
</style>