<div class="schedule">
  <p><b>Your Automotive Repair & Maintenance Service Specialist</b></p>
  <h2 class="schedule-title text-l">
    SCHEDULE YOUR APPOINTMENT <br />
    TODAY CALL: <a href="tel:299485488">299-485-488</a>
  </h2>
  <p class="schedule-content text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
    enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros
    dolor interdum nulla, ut commodo diam libero vitae erat.
  </p>
  <div class="about-links">
    <a class="a-btn" href="/contact">Book Your Appointment Now</a>
    <a class="a-btn" href="#">Learn More &#62;</a>
  </div>
</div>

<style>
  .schedule {
    text-align: center;
    max-width: 768px;
    margin: auto;
    .schedule-title,
    .schedule-content {
      margin-bottom: 1.5rem;
    }
    a {
      color: #000;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .about-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    & a {
      margin: 0;
      padding: 0;
      max-width: fit-content;
      text-decoration: none;
      color: black;
    }
    & a:first-of-type {
      padding: 12px 24px;
      border-radius: 5px;
      border: 1px solid black;
    }
    & a:last-of-type {
      border: none;
    }
  }
</style>
