---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Layout/Container.astro";
import Logos from "../components/Logos.astro";
import Services from "../components/Services.astro";
import Testimonials from "../components/Testimonials/Testimonials.astro";
import Section from "../components/Layout/Section.astro";
---

<Layout
  title="Services"
  description="Get Back on the Road Quickly with Ddsgnr, Expert Car Care You Can Trust,Expert Car Care You Can Trust"
>
  <Section>
    <Container>
      <Logos />
    </Container>
  </Section>
  <Section gray>
    <Container>
      <Services />
    </Container>
  </Section>
  <Section>
    <Container>
      <Testimonials />
    </Container>
  </Section>
</Layout>
