---
import Social from "../Social.astro"
---

<div class="team-member">
    <div class="team-member-pic">
        <img src="/src/assets/team/member1.png" alt="Team Member 1">
    </div>
    <div class="team-member-info">
        <div id="name">name</div>
        <div id="job">job</div>
        <div id="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</div>
    </div>
    <div class="team-member-socials">
        <Social />
    </div>
</div>

